body {
    box-sizing: border-box; 
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
    flex-direction: column;
    
    font-family: "Optima", sans-serif;
    background-image: url("images/circuit1.jpg");

    padding: 1rem;
}

p {
    color: white;
    
    padding: 1rem;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-size: 18px;

    background-color: black;
    opacity: 80%;
}

img {
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    border-radius: 5%;
    background-color: black;

    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 1rem;
    align-content: center;
}

h1, h2, h3 {
    text-align: center;
    color: white;
    opacity: 80%;

    letter-spacing: 4px;
    background-color: black;
}

.back-to-top {
    background-color: #02001f;
    padding: 1.5rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
}

html {
    scroll-behavior: smooth;
}

footer {
    background-color: #02001f;
    padding: 1rem;
}